<!-- <div class="sm-cal-container"> -->
<div class="sm-calendar child_2">
    <table class="sm-cal-table">
        <!-- Row 1 -->
        <tr class="sm-main-row">
            <td class="sm-main-col hidden"> </td>

            <td class="sm-main-col show">
                <table class="sm-cal-part">
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">1</td>
                        <td class="sm-cal-col">2</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">3</td>
                        <td class="sm-cal-col">4</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">5</td>
                        <td class="sm-cal-col">6</td>
                    </tr>
                </table>
            </td>

            <td class="sm-main-col hidden"> </td>
        </tr>

        <!-- Row 2 -->
        <tr class="sm-main-row">
            <td class="sm-main-col show">
                <table class="sm-cal-part">
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">7</td>
                        <td class="sm-cal-col">8</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">13</td>
                        <td class="sm-cal-col">14</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">19</td>
                        <td class="sm-cal-col">20</td>
                    </tr>
                </table>
            </td>

            <td class="sm-main-col show">
                <table class="sm-cal-part">
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">9</td>
                        <td class="sm-cal-col">10</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">15</td>
                        <td class="sm-cal-col">16</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">21</td>
                        <td class="sm-cal-col">22</td>
                    </tr>
                </table>
            </td>

            <td class="sm-main-col show">
                <table class="sm-cal-part">
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">11</td>
                        <td class="sm-cal-col">12</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">17</td>
                        <td class="sm-cal-col">18</td>
                    </tr>
                    <tr class="sm-cal-row">
                        <td class="sm-cal-col">23</td>
                        <td class="sm-cal-col">24</td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Row 3 -->
        <tr class="sm-main-row">
            <td class="sm-main-col hidden"> </td>

            <td class="sm-main-col show">
                <table class="sm-cal-part">
                    <tr>
                        <td>
                            <table class="sm-cal-part-first">
                                <tr class="sm-cal-row">
                                    <td class="sm-cal-col">25</td>
                                    <td class="sm-cal-col">26</td>
                                </tr>
                                <tr class="sm-cal-row">
                                    <td class="sm-cal-col">27</td>
                                    <td class="sm-cal-col">28</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="sm-cal-part-last">
                                <tr class="sm-cal-row">
                                    <td class="sm-cal-col">29</td>
                                    <td class="sm-cal-col">30</td>
                                    <td class="sm-cal-col">31</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>

            <td class="sm-main-col hidden"> </td>
        </tr>

    </table>
</div>
<!-- </div> -->