<%- include("./../partials/header") -%>

    <body>
        <div class="container-fluid">
            <div class="content">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-5 p-3">
                                <h4 class="text-red">
                                    500 Internal Error</h4>
                                <p>Connection error! Please contact the system admin!
                                </p>
                            </div>
                            <div class="m-5">
                                <button class="btn border-secondary" onclick="history.back()">Go Back</button>
                            </div>
                        </div>
                </section>
            </div>
        </div>

        <%- include("./../partials/footer") -%>