<%- include("../partials/header") -%>

    <body class="hold-transition login-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-8">
                    <%- include('./show-calendar') %>
                </div>
            </div>
        </div>

        <%- include("../partials/footer") -%>