<div class="count-display">
    <div class="row next-goal">
        <div class="col col-8">目標無災害日数</div>
        <div class="col col-3 count goal-count">1000</div>
        <div class="col col-1 nichi">日</div>
    </div>

    <div class="row current-achieve">
        <div class="col col-8">連続無災害日数</div>
        <div class="col col-3 count current-count"> </div>
        <div class="col col-1 nichi">日 </div>
    </div>
</div>